.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.contact h2 {
  color: rgb(102, 100, 100);
}
.contact__form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.contact__form button,
.contact__form input,
.contact__form textarea {
  height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.contact__form textarea {
  min-height: 150px;
}

.contact__form button {
  width: 150px;
}
